node_modules
.git
.gitignore
.env
.env.local
.env.*.local
dist
.vscode
.idea
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
.DS_Store
.turbo
.next
coverage
.test
.vitest
.vite
.vercel
.netlify
public/
.history/
.vscode-test
*.swp
*.swo
.pnpm-store
